*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  align-items: center;
}
:root{
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(209, 223, 241);
  line-height: 1.4;
  font-weight: 300;
  color: rgb(245, 246, 247);
}

.main__container{
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 10%;
  position: relative;
}
.result__block{
  height: 2.5rem;
  padding: .2rem 1rem .2rem 1rem;
  margin-left: 40%;
  width: 20%;

}
.predicted{
  border-radius: 20%;
  margin: 5px;
  word-wrap: break-word;
}
.predicted .similar{
  background: rgb(129, 129, 243);
}
.predicted .different{
  background: rgb(252, 150, 150);
}